@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    overflow-y: scroll;
    top: 0;
    right: 0; 
    bottom: 0; 
    left: 0; 
    background-color: black;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    left: 20px;        
    width: 60px;
    height: 60px;          
    z-index: 1000;
    cursor: pointer;
}


.product{
    width:15em;
}

.img-product{
    width: 16em;
}